.app {
  //padding: 2px;

  code {
    white-space: pre;
  }

  .navbar {
    width: 100%;
    max-width: 640px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    a {
      color: #f1f1f1;
    }
  }

  .route-loading {
    text-align: center;
    max-width: 640px;
  }
}
